**/__pycache__
venv
**/*.sqlite3
**/migrations/*
!**/migrations/__init__.py
media
.idea
.requirements.txt.swp
logs.txt
output.xlsx
.vscode
.vscode/*
avh_venv
contract_report/adem/*
output.xlsx
result.xlsx
celerybeat-*
**/tempfile.xlsx
**/19_20j.json
**/templates/designer_requests_for_equipment/*.xlsx
.env
db_for_website.sqlite3
19_33_1.json
*.session.sql
pm.sqlite3
.venv
finance_module/services/unload_templates/income71P.xlsx
**/pdf_to_json_for_1c/static/img/*
**/pdf_to_json_for_1c/templates/*txt
egov_modules/utils.py
dump.json
avh_portal.sql


