{% extends "base.html" %}


{% block content %}
    <div class="row">
        {% if matched_chapters or matched_chapter_groups %}
            {% for matched_chapter_group in matched_chapter_groups %}
                <a href="{{ matched_chapter_group.get_absolute_url }}" class="col-xl-3 col-md-6 mb-4">
                    <div class="card shadow h-100 py-2"
                         style="border-left: 0.25rem solid {{ matched_chapter_group.color }}!important;">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ matched_chapter_group.title }}</div>
                                        {{ matched_chapter_group.short_description }}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    {{ matched_chapter_group.icon | safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            {% endfor %}

            <!-- Earnings (Monthly) Card Example -->
            {% for matched_chapter in matched_chapters %}

                <a href="{{ matched_chapter.link }}" class="col-xl-3 col-md-6 mb-4">
                    <div class="card shadow h-100 py-2"
                         style="border-left: 0.25rem solid {{ matched_chapter.color }}!important;">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ matched_chapter.title }}</div>
                                        {{ matched_chapter.short_description }}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    {{ matched_chapter.icon | safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            {% endfor %}

        {% else %}
            <div class="col h5 mb-0 font-weight-bold text-gray-800">Нет доступных разделов</div>
        {% endif %}
    </div>

{% endblock %}