{% extends 'base.html' %}
{% load static %}


{% block title %}
<!-- Тайтлд пустой страницы -->
{% endblock %}

{% block links %}
<!-- Используемые ссылки в пустом разделе -->
{% endblock %}


{% block chapter %}
<!-- Название пустого раздела -->
{% endblock %}

{% comment %}{% block back_button %}
Кнопка Назад (По умолчанию назад на прошлую веб страницу)
{% endblock %}{% endcomment %}

{% block content %}
<form action="{% url 'import_from_file' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon03">Button</button>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03"
                name="file">
            <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
        </div>
    </div>
</form>
{% endblock %}


{% block scripts %}
<!-- Скрипты пустого раздела -->
{% endblock %}