#table-container {
    background-color: white;
    font-size: 12px;
    color: black;
    overflow: scroll;
    max-height: 60vh;
    margin-bottom: 1em;
}

#table :where(td, th) {
    border: 2px solid black;
    padding: 0.25em;
    background-color: white;
}
#table {

    border-collapse: separate;
}
#table th {
    min-width: 100px;
}

.thead-th-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60px;
    overflow: scroll;
}

.thead-th-content::-webkit-scrollbar {
    display: None;
}