{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
    Редактирование папки - {{ object }}
{% endblock %}

{% block chapter %}
    Редактирование {{ object }}
{% endblock %}

{% block back_button %}
    <a class="btn btn-light btn-icon-split mb-4"
       href="{{ object.back_url }}">
                        <span class="icon text-gray-600">
                            <i class="fas fa-arrow-left"></i>
                        </span>
        <span class="text">Назад к {% if object.parent is None %}корневой
            папке{% else %}папке {{ object.parent }}{% endif %}</span>
    </a>
    {% if object.parent is not None %}
        <a class="btn btn-primary btn-icon-split mb-4 ml-2"
           href="{% url "documents:list" %}">
                        <span class="icon">
                            <i class="fas fa-arrow-up"></i>
                        </span>
            <span class="text">Назад к корневой папке</span>
        </a>
    {% endif %}

{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12 col-md-6 col-xl-3">
                {% for field in form %}

                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:"form-control" }}
                        <div class="text-danger">
                            {{ field.errors }}
                        </div>
                    </div>



                {% endfor %}
                <button class="btn btn-primary w-100">Обновить</button>
            </div>

        </div>
    </form>
{% endblock %}