{% extends "base.html" %}

{% load static %}

{% block chapter %}

{%endblock %}

{% block title %}
Калькулятор ЭМР
{% endblock %}

{% block links %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'calculator_emr/css/main.css' %}">
{% endblock %}

{% block content %}
<div class="fixed-container">
    <div class="container text-center d-flex flex-column">
        <div class="alert alert-danger alert-dismissible fade show" style="display:none; position: absolute;"
            id="dangerAlertPrice" role="alert">
            Цена превышает максимально допустимое значение!
            <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<div class="row d-flex align-items-center">
    <h1>Калькулятор ЭМР </h1>
</div>
<hr>
<div class="d-flex justify-content-between">
    <form id="" class="row">
        <div class="form-row mb-3 col-sm-6" style="min-width:750px;">
            <div class="col">
                <div class="dropdown">
                    <input name="bs_name" type="text" class="form-control" value="{{request.GET.bs_name}}"
                        aria-haspopup="true" autocomplete="off" id="dropdownBSButton" aria-expanded="false"
                        data-toggle="dropdown" aria-describedby="submitButton" title="Введите от 4 до 12 символов"
                        placeholder="Базовая станция">
                    <div class="dropdown-menu" aria-labelledby="dropdownBSButton">
                        {%for bs in data_BS%}
                        <a class="dropdown-item bs-item" href="#">{{bs.project}}</a>
                        {%endfor%}
                    </div>
                    <div id="warningMessage" style="color: red; font-size: 12px; display: none; position: absolute;">
                        Пожалуйста,
                        заполните поле</div>
                </div>

            </div>
            <div class="col d-flex">
                <button class="btn btn-primary" id="submitButton">Найти</button>
                {% if filtered_data_bs or choised_order %}
                <button id="order-show-btn" style="display: block; margin-left: 10px; color: #212529;" type="button"
                    class="scaling-button btn btn-warning" data-toggle="modal" data-target="#exampleModalLong">Выбор
                    заказа</button>
                {% endif %}
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                        <div class="modal-content"
                            style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Таблица</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <div id="all-data-to-import">
                                    <table class="table table-bordered table-striped table-hover" id="">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Номер заказа</th>
                                                <th scope="col">Сумма заказа с НДС</th>
                                                <th scope="col">Сумма заказа без НДС</th>
                                            </tr>
                                        </thead>
                                        <tbody id="emr-order-table">
                                            {% if filtered_data_bs %}
                                            {% for bs in filtered_data_bs %}
                                            <tr style="user-select: none; user-select: pointer; cursor: pointer;">
                                                <th scope="row" id="order-from-table" index="{{ forloop.counter0 }}">{{ bs.order_number }}</th>
                                                <th scope="row">{{ bs.order_sem_with_nds }}</th>
                                                <th scope="row">{{bs.order_sem_without_nds}}</th>
                                            </tr>
                                            {% endfor %}
                                            {% else %}
                                            {% for bs in choised_order %}
                                            <tr style="user-select: none; cursor: pointer;">
                                                <th scope="row" id="order-from-table" index="{{ forloop.counter0 }}">{{ bs.order_number }}</th>
                                                <th scope="row">{{ bs.order_sem_with_nds }}</th>
                                                <th scope="row">{{bs.order_sem_without_nds}}</th>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% if choised_order %}
    <div class="row">
        <div id="" style="display: initial;">
            <button onclick="location.href='{% url 'opened_accounts' order_numer_ %}'" class="btn btn-warning" style="display: block; margin-right: 10px; color: #212529" type="button">
                <span class="text">Заведенные счета</span>
            </button>
        </div>
        <div id="html-download-button" style="display: initial;">
            <button onclick="html_download()" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-download"></i>
                </span>
                <span class="text">Скачать как HTML</span>
            </button>
        </div>
    </div>
    {% endif %}
</div>






{% if choised_order %}
<div id="orderData" data-order="{{ dataToParse }}"></div>
<div class="container-fluid mb-4" style="display: block;" id="main-container">

    <import_data hidden>



    </import_data>

    <div id="hidden-div-to-import" hidden>

    </div>
    <h1 style="color:#fff;" id="margin-delete">.</h1>

    <div class="row mt-0 ml-4 mr-4" id="notes-info" style="display:none;">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-danger">Превышение по пунктам</h6>
            </div>
            <div class="card-body" id="notes-info-text">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Номер заказа
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="order-number">
                                П-110151-23
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-info fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                Заказчик
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="order_customer_name">
                                КаР-Тел, ТОО
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-info fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Количество пунктов
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="order-punkts">0</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Сумма заказа с НДС
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800 money-format" id="total-summ-nds">0.00
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-percent fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Сумма заказа без НДС
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800 money-format"
                                id="total-summ-without-nds">
                                0.00
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Тип работ / регионы
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="order-region">
                                Южные_регионы
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Вид работ
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="order-type">
                                ЭМР_тендер
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-briefcase fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Общая сумма
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800 money-format" id="total-summ">0.00
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Макс. сумма
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800 money-format" id="max-summ">0.00
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Остаток
                            </div>
                            <div class="money-format h5 mb-0 font-weight-bold text-gray-800" id="balance">
                                {{ balance }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-pie fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Разница
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800 money-format" id="amount-diff">
                                {{ amount_diff }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12" role="document">
            <div class="modal-content rounded-4 shadow">

                <div class="card-body custom-table-container">
                    <div class="form-row mb-3 col-sm-6" style="min-width:750px;" id="tcp-form">
                        <div class="col">
                            <div class="dropdown">
                                <input name="tcp_value" type="text" class="form-control" aria-haspopup="true"
                                    autocomplete="off" id="dropdownTCP" aria-expanded="false" data-toggle="dropdown"
                                    title="Введите от 4 до 12 символов" placeholder="Поиск пункта ТЦП">
                                <div class="dropdown-menu" aria-labelledby="dropdownTCP">
                                    {% for item in data_tcp %}
                                    <a class="dropdown-item tcp-item" href="#" unit="{{item.unit}}"
                                        max-sum="{{item.max_sum}}" search-key="{{item.search_key}}">{{item.name}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <input type="submit" class="btn btn-primary" value="Добавить" id="add_tcp">
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                            role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th style="width: 250.875px">
                                        Артикул
                                    </th>
                                    <th style="width: 620.875px">
                                        Номенклатура
                                    </th>
                                    <th style="background:#ccccff; width: 220.875px">
                                        Кол-во
                                    </th>
                                    <th style="width: 200.875px">
                                        Ед. изм.
                                    </th>
                                    <th style="background:#ccccff; width: 350.875px">
                                        Цена за ед.
                                    </th style="width: 300.875px">
                                    <th>
                                        Цена за ед. (Макc.)
                                    </th>
                                    <th class="sorting sorting_asc" tabindex="0" rowspan="1" colspan="1">
                                        Сумма
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tbodyTCP">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<script src="{% static 'calculator_emr/js/script.js' %}"></script>
{% endblock %}