{% extends 'base.html' %}

{% block title %}Смена пароля{% endblock %}


{% block chapter %}Смена пароля{% endblock %}


{% block content %}



{% if form.errors %}
<ul>
  {{form.errors}}
</ul>
{% else %}
<ul>
  <li>Ваш пароль не должен быть слишком похож на другую вашу личную информацию.</li>
  <li>Ваш пароль должен содержать не менее 8 символов.</li>
  <li>Ваш пароль не может быть широко используемым паролем.</li>
  <li>Ваш пароль не может быть полностью числовым.</li>
</ul>
{% endif %}


<form method="post" class="col-sm-4">
  {% csrf_token %}
  <p>
      <label for="id_old_password">Текущий пароль:</label>
      <input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
  </p>
  <p>
      <label for="id_new_password1">Новый пароль:</label>
      <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">

      <span class="helptext"></span></p>

  <p>
      <label for="id_new_password2">Подтвеждение нового пароля:</label>
      <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
  </p>
  <button type="submit" class="btn btn-primary">Сменить пароль</button>
</form>

<script>
  document.getElementById("id_old_password").classList.add("form-control", "form-control-user");
  document.getElementById("id_new_password1").classList.add("form-control", "form-control-user");
  document.getElementById("id_new_password2").classList.add("form-control", "form-control-user");
  
  
</script>
{% endblock %}

