{% extends "base.html" %}

{% block title %}
    PDF Сжиматель
{% endblock %}

{% block chapter %}
    PDF Сжиматель
{% endblock %}

{% block content %}
    <div>
        <form method="post" enctype="multipart/form-data" id="form">
            {% csrf_token %}
            <div class=" form-check">
                <input class="form-check-input" id="show-difference" type="checkbox">

                <label class="form-check-label" for="show-difference">Показать разницу после
                    сжатия</label>
            </div>
            <div class="custom-file w-auto d-inline-block mb-1">
                <label for="files-id" class="custom-file-label">Выберете файлы</label>
                <input type="file" multiple class="custom-file-input" name="files" id="files-id" required>
            </div>
            <div>
                <label for="percent-id">Процент сжатия</label>

                <select name="percent" id="percent-id" class="custom-select d-inline-block w-auto" required>
                    <option value="10">10</option>

                    <option value="20">20</option>

                    <option value="30">30</option>

                    <option value="40">40</option>

                    <option value="50" selected="">50</option>

                    <option value="60">60</option>

                    <option value="70">70</option>

                    <option value="80">80</option>

                    <option value="90">90</option>

                </select>
            </div>

            <div>
                <button class="btn btn-primary">Сжать</button>

                <span class="d-none " id="loading-spinner"><i class="fa fa-spinner fa-spin"></i></span>

            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const showDifference = document.getElementById("show-difference");
            document.getElementById("form").addEventListener("submit", function (event) {
                event.preventDefault()
                document.getElementById("loading-spinner").classList.remove("d-none");

                const xmlHttpRequest = new XMLHttpRequest();
                xmlHttpRequest.open("POST", "");
                xmlHttpRequest.addEventListener("readystatechange", function () {
                    if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                        const json = JSON.parse(this.response);
                        document.getElementById("loading-spinner").classList.add("d-none");

                        if (showDifference.checked) {
                            let difference = "";
                            for (const compressedFile of json.compressedFiles) {
                                difference += `Файл: ${compressedFile.filename}, было ${compressedFile.sizeBefore}, стало ${compressedFile.sizeAfter}.\n`;
                            }
                            difference += `Времени заняло: ${json.time} секунд.`;
                            alert(difference);
                        }
                        if (json.archive) {
                            const a = document.createElement("a");
                            a.href = json.archive;
                            a.download = "download";
                            document.body.append(a);
                            a.click();
                            a.remove();
                        } else {
                            window.open(json.compressedFiles[0].url, "_blank");
                        }
                    }
                });
                xmlHttpRequest.send(new FormData(this));
            });
        });
    </script>
{% endblock %}